---
title: Books
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ Books }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
  <script type="module" src="/java.js"></script>
</head>
<body>
  <h1>My Favorite Books</h1>
      <ul id="books">
      </ul>
</body>
</html>