---
title: Books
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ Books }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
  <script src="/java.js"></script>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/" title="Go home">Home</a></li>
      <li><a href="/about/" title="About the boilerplate">About</a></li>
    </ul>
  </nav>
  <h1>My Favorite Books</h1>
  <ul id="books">
  </ul>
    {{ content }}
</body>
</html>