body {
    font-family: Helvetica, sans-serif;
    color: #ffffff;
    padding: 0 40px;
    text-align: center;
    background: linear-gradient(90deg, #3a7cef, #5abce9);
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
}

table {
    margin: 0 auto 0;
    border: 2px solid rgb(232, 232, 232);
  }
  
  th,
  td {
    font-size: 1.2em;
    border: 1px solid rgb(232, 232, 232);
  }


